<!--<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my commands</title>
    <link type="text/css" rel="stylesheet" href="stylesheets/spaceStyle.css" />
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/app.js"></script>
    <script src='js/controller/controllers.js'></script>
</head>
<body ng-app="mainApp">
-->
<div  ng-controller="spaceCtrl"  ng-class="container">
    <!-- the left function list-->
    <div class="left">
        <div>
            <ol>
                <li   type="button"  ng-click="seeMyCommands()" class="functionButton">my commands</li>
                <li  type="button"  ng-click="goToApply()" class="functionButton">apply a bank account</li>
            </ol>
        </div>
    </div>
    <!-- the right page-->
    <div>
        <div class="spaceDetail">
        <div class="myCommands" ng-repeat="c in myCommands">
            <div>
                <span>command number:</span>
                <span>{{c.number}}</span>
            </div>
            <div>
                <span>applying date:</span>
                <span>{{c.date}}</span>
            </div>
            <div>
                <span>progress:</span>
                <span>{{c.progress}}</span>
            </div>
            <div>
                <span>bank:</span>
                <span>{{c.bank[0].location[0].rue}},{{c.bank[0].location[0].zip}},{{c.bank[0].location[0].city}}</span>
            </div>
            <div>
                <span>manager:</span>
                <span>{{c.manager}}</span>
            </div>
            <!-- button to deal with this command-->
            <div>
                <button>cancel this command</button>
                <button>contact manager</button>
            </div>

        </div>
        </div>
    </div>

</div>
</body>
</html>